{%  extends 'base.html' %}

{% block body %}
<h1>Register Form</h1>
<form method="POST" action="/register-post">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" value=""/>
    </div>
    <div class="form-group">
        <label for="email">Username</label>
        <input class="form-control" type="text" name="email" id="email" aria-describedby="emailHelp"/>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" value=""/>
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input class="form-control" type="password" name="confirm_password" id="confirm_password" value=""/>
    </div>
    <button type="submit" class="btn btn-primary">Register</div>
</form>

{% endblock %}